@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import "flowbite/src/themes/default";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source "../../node_modules/flowbite";

@plugin "flowbite/plugin";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Neue Bureau Grotesk";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/NeueBureauGrotesk.woff2') format('woff2');
}
@theme {
    --font-sans: "Zen Kaku Gothic New", ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-neue: "Neue Bureau Grotesk",sans-serif;

    /* Colors for primary MZ branding */
    --color-base-100: oklch(12% 0.042 264.695); /* Use for background */
    --color-base-200: oklch(20% 0.042 265.755); /* Use for header & footer */
    --color-base-300: oklch(27% 0.041 260.031); /* Use for cards */
    --color-base-content: oklch(92% 0.01 264.695); /* foreground color */
    --color-base-content-muted: oklch(70% 0.02 264.695); /* foreground color muted */
    --color-primary: oklch(85% 0.138 181.071);
    --color-primary-content: oklch(27% 0.046 192.524);
    --color-secondary: oklch(0% 0 0);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(80% 0.105 251.813);
    --color-accent-content: oklch(28% 0.091 267.935);
    --color-neutral: oklch(27% 0.041 260.031);
    --color-neutral-content: oklch(98% 0.003 247.858);
    --color-info: oklch(58% 0.158 241.966);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(60% 0.118 184.704);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(68% 0.162 75.834);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(59% 0.249 0.584);
    --color-error-content: oklch(97% 0.014 343.198);

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */



/* MZ HEADER SECTION */
header#mz-header {

    .mz-logo-img {
        @apply w-auto h-5 lg:h-6;
    }

    .mz-navbar-display-wrapper {
        .navbar-list {
            @apply font-bold flex flex-col pt-4 pb-2 lg:py-0 lg:flex-row lg:gap-x-8 uppercase;

            .list-item-link {
                @apply block px-3 py-2 rounded-xl transition-all hover:bg-base-300 active:bg-base-300 focus:bg-base-300 lg:p-0 lg:hover:text-primary lg:active:text-primary lg:focus:text-primary lg:hover:bg-transparent lg:active:bg-transparent lg:focus:bg-transparent;
            }
        }
    }
}



/* MZ FOOTER SECTION */
footer#mz-footer {
    @apply bg-base-200 text-base-content-muted border-t border-t-base-content-muted/50;

    .first-row {
        @apply grid grid-cols-2 lg:grid-cols-4 gap-6 lg:gap-10 mb-8;

        .footer-meta {
            @apply col-span-2;

            .mz-logo-img {
                @apply w-auto h-5 mb-3;
            }

            p.lead {
                @apply text-xl mt-3;
            }
        }
    }
    
    .second-row {
        @apply mt-8 pt-8 border-t border-t-base-content-muted/50 flex justify-between;
    }
}